*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: rgb(255, 255, 255);
}

header {
    height: 10vh;
    position: fixed;
    text-align: center;
    width: 100%;
    background-color: rgb(95, 173, 72);
    box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.2);
    top: 0;
    line-height: 10vh;
    z-index: 3;
}

main {
    margin-top: 15vh;
}

.kalendorius {
    text-transform: uppercase;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1rem;
    text-align: center;
}

.ats-kalendorius {
    box-shadow: 4px 5px 10px rgba(0, 0, 0, .2), -9px -13px 11px 2px white;
    border-radius: 10px;
    padding: 1rem;
    
}

ul {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    list-style: none;
    gap: 1rem;
}

.dienos {
    margin-bottom: 1rem;
    text-transform: none;
    background-color: green;
}


.praeitas-menuo,
.praeitas-menuo~li {
    opacity: .5;
    font-weight: 200;
    margin-top: auto;
}

.pirm-diena, 
.pirm-diena~li {
    opacity: 1!important;
    font-weight: 900!important;
}

.pask-diena~li {
    opacity: .5!important;
    font-weight: 200!important;
    line-height: 41px;
}

li:nth-child(7n) {
    color: tomato;
}